<!DOCTYPE html>
<html>
    <head>
        <title>SokoBanGame</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous"/>
    </head>
    <body>
        <h1>...</h1>
        <div class="container">
            <div id="SokoBanGame">
                Hier
            </div>
        </div>
        <script src="js/bundle.js"></script>
        <script src="http://sokoban.dev:35729/livereload.js"></script>
    </body>
</html>
